body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('https://i.ibb.co/4MQ6KSy/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

#auth-container, #key-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    max-width: 90%;
    width: 400px;
}

h2, h3 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label, input {
    margin-bottom: 10px;
}

button {
    padding: 10px;
    border: none;
    background
